.name {
    margin: 1%;
    font-family: 'Lexend Exa';
    font-size: 120pt;
}

.realName {
    margin-top: -1%;
    margin-left: 75%;
    font-family: 'Lexend Exa';
}

.slogan {
    text-align: center;
    font-family: 'Lexend Exa';
    font-size: 20pt;
}

#home {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}