* {
    font-family: 'Lexend Exa';
}

.header {
    font-size: 40pt;
    padding: 1%;
}

.break {
    margin-top: 10%;
}

.section {
    padding-left: 10%;
    padding-right: 10%;
}

/* about */
.aboutme {
    text-align: center;
}

/* experience */
.position {
    font-weight: bold;
}

.dateworked {
    float: right;
}

/* portfolio */
.completeList {
    text-align: center;
}

/* contact */
.socialIcons {
    align-content: center;
}