* {
    font-family: 'Lexend Exa';
}

.header {
    font-size: 40pt;
    padding: 1%;
}

.break {
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

/* about */
.aboutme {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}